

.logBody {
   background-image:  url("img/1077188.png");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   padding:  0rem 3rem 0rem 3rem;
   align-items:baseline;
   form{
    width: 25rem;
    section{
        margin: 3rem;
    }
}

}

.logTitle{
    color: $main_color;
    font-size: 4rem;
    font-weight: 300;
    &:after{
        content: " ";
        width: 12rem;
        height: 0.2rem;
        background-color: $main_color;
        position: absolute;
        margin-left: 1rem;
        top: 10%;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
}
    &::before{
        content: " ";
        width: 0.2rem;
        height: 34rem;
        background-color: $main_color;
        position: absolute;
        margin-top: 1rem;
        top: 10%;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
}
}


.logDiv{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    label{
        color:$text_color ;
        margin-bottom: 0.3rem;
    }
    input{
      @include borderr($text_color);
      height: 2rem;
      color: $text_color;
      padding: 0.5rem;
    }
    .pfp{
      padding: 0rem;
      height: 1.5rem;
    }
}
.logSubmit{
    background-color: $secondary_color;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border: 1px solid $secondary_color;
    color: $main_color;
    width: 100%;
    margin-top: 2rem;
    padding: 0.5rem;
    &:hover{
       background: none;
       color: $secondary_color;
       transition: 0.3s;
       -webkit-transition: 0.3s;
       -moz-transition: 0.3s;
       -ms-transition: 0.3s;
       -o-transition: 0.3s;
    }
    &:active{
        background-color: $secondary_color;
        color: $main_color;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
     }
}

.logToSign{
    color: $main_color;
    font-weight: 400;
    font-size: 1.2rem;
    a{
        color: $secondary_color;
        text-decoration: none;
        font-weight: 400;
    }
}